### import necessary libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

### load the data

In [2]:
data = pd.read_csv("C:\\Users\\91805\\Downloads\\advertising.csv")
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

### split the data into features

In [3]:
X = data[['TV','Radio','Newspaper']]
y = data['Sales']

### split the data into training ans testing sets

In [4]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=42)

### create and fit the model

In [5]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

### predict the sales for the test data

In [6]:
y_pred = model.predict(X_test)

### evaluate the model's performance using mean squared error

In [7]:
mse = mean_squared_error(y_test,y_pred)

In [8]:
print('Mean Squared Error:',mse)

Mean Squared Error: 2.9077569102710923